// author zhangxi 2016/5/30

.reds{
    margin-top: 30px;
    font-size: 14px;
    .reds-left{  
        .reds-detail{
            overflow: hidden;
            width:95%;
            img{
                width:18%;
            }
            .r-detail{
                float:right;
                width:80%;
                h4{
                    font-size: 16px;
                    padding-bottom:5px;
                }
                p{
                    padding-bottom:5px;
                }
                ul{
                    overflow: hidden;
                    li{
                        float:left;
                        width:25%;
                        margin-right: 2%;
                        padding:8px 0;
                        border: 1px solid #e5e5e5;
                        background: #fafafa;
                        text-align: center;
                        &:hover{
                            background:#e5e5e5;
                        }
                        a{
                            width:100%;
                            text-decoration: none;
                            display: inline-block;
                        }
                    }
                    li:first-child{
                        border:0;
                        background:none;
                        width:10%;
                        text-align: left;
                        &:hover{
                            background:none;
                        }
                    }
                }
            }
        }
        .mission{
            .mission-li{
                overflow: hidden;
                padding: 50px 20px 15px;
                border-bottom:1px solid #e5e5e5;
                div{
                    width:80%;
                    float:left;
                    p{
                        span{
                            font-weight: bold;
                            margin-right:20px;
                        }
                    }
                }
                img{
                    float: right;
                    max-width:20%;
                }
            }
        }
        .title{
            padding:50px 0;
            h4{
                float: left;
                font-weight: bold;
                font-size: 16px;
            }
        }
        #reds-show{
            position:relative;
            width:100%;
            .item{
                padding:8px;
                border-radius: 6px;
                float:left;
                width: 33%;
                .item-box{
                    border-radius: 6px;
                    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
                    img{
                        border-radius: 6px 6px 0 0;
                        width:100%;
                        cursor:pointer;
                    }
                    .bottom{
                        background:#fff;
                        border-radius:0 0 6px 6px;
                        .author{
                            font-weight:bold;
                            border-top: 1px solid #e7e7e7;
                            padding:5px 10px;
                        }
                        .pic-name{
                            padding:5px 10px;
                            text-align:center;
                        }
                        .review-first{
                            border-top: 1px solid #e7e7e7;
                            padding:5px 10px;
                        }
                    }
                }
            }
        }
    }
    .reds-right{
        float: left;
        .follow-p{
            overflow: hidden;
            p{
                width:30%;
                margin-right: 5%;
                border: 1px solid #e5e5e5;
                background: #fafafa;
                text-align: center;
                padding:6px 0;
                float: left;
                
            }
            p.messa{
                margin-right: 0;
                a{
                    text-decoration: none;   
                    width: 100%;
                    display: inline-block;
                }
                &:hover{
                    background:#e5e5e5;
                }
            }
        }
        .level{
            border: 1px solid #e5e5e5;
            padding: 20px 0;
            margin-top: 10px;
            p{
                margin: 0;
                padding-left:20px;
                span{
                    font-weight: bold;
                    font-size:16px;
                    background:url(../images/docs/icon_vip.jpg) 0 -61px no-repeat;
                    padding-left:30px;
                }
            }
        }
        .sign{
            border: 1px solid #e5e5e5;
            text-align:center;
            padding:50px 0;
            margin-top: 20px;
            background:#fafafa;
            .title{
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 10px;
                display: block;
            }
        }
        .comment{
            border: 1px solid #e5e5e5;
            text-align:center;
            margin-top: 20px;
            background:#fafafa;
            ul{overflow:hidden;}
            li{
                padding:6%;
                overflow: hidden;
                border-bottom:1px solid #e5e5e5;
                span{
                    width: 60px;
                    display:inline-block;
                    float:left;
                    position:relative;
                    img{
                        border-radius: 50%;
                        width:50px;
                        height:50px;
                        position:absolute;
                        top:0;
                        left:0;
                        margin-top:0;
                    }
                }
                li{
                    padding:5px;
                    span{
                        width:auto;
                    }
                }
                p{
                    width:70%;
                    float:right;
                    text-align:left;
                }
            }
            li:last-child{
                padding:15px;
            }
        }
        .recommend{
            border: 1px solid #e5e5e5;
            text-align:center;
            padding:20px 0;
            margin-top: 20px;
            ul.re{
                overflow: hidden;
                li{
                    float: left;
                    width: 34%;
                    margin: 0 8%;
                    padding: 8px 0;
                    border: 1px solid #e5e5e5;
                    background: #fafafa;
                    text-align: center;
                    &:hover{
                        background:#e5e5e5;
                    }
                    a{
                        width: 100%;
                        text-decoration: none;
                        display: inline-block;
                    }
                }
            }
            ul.pic{
                overflow: hidden;
                li{
                    float: left;
                    width:50%;
                    padding:5%;
                }

            }
        }
        .recommend-four{
            text-align:center;
            margin-top: 20px;
            ul.pic{
                overflow: hidden;
                li{
                    float: left;
                    width:50%;
                    padding:2%;
                }

            }
        }
    }
}