/*
*@module: product index-footer 
*@Author: zhangxi 2015-01-16
*@Update: 
*/


%v-mid{vertical-align: middle;}
%t-center{text-align: center;}
%t-left{text-align: left;}
%padding-t{padding-top:5px;}
// 

.bt-livechat {
@include inline-block;
@extend %v-mid;
@extend %t-center;
@extend %padding-t;
position:relative;
top: 10px;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
}

footer 
     {width:100%;
      font-size:$font-size-small;
       .w-top {
        background-color: $gray-lighter;
        padding: 35px 0 0;
        margin: 0 auto 1px;
        border-top:1px solid $gray-light;
        }
        @media screen and (max-width: 767px){
             .w-top {
                 border:none !important;
             }    
        }
        .currency {
        @include inline-block;
        margin: 0 0 25px 0;
        div {
            @include inline-block;
            width:250px;
        }
        div>a {
            @include inline-block;
            height: 18px;
            margin: 0;
            @extend %v-mid;
            }
         }
        .currency-con {
        background-color:$gray-lighter;
        font-size: $font-size-small;
        text-transform: none;
        z-index: 10;
        .object-sites {
            padding:35px 0 10px 0;
            dt{
                margin-bottom:8px !important;
                font-size:$font-size-base;
            }
                    }
        .sites {
            margin: 5px 0 0 84px;
            position:relative;
            a{color:$gray-base;}
            }
        dd {
            padding: 0 5px;
            height: 21px;
            line-height: 21px;
            @extend %t-left;
			&:hover {
						background-color: $gray-light;
					}
            a {
                padding: 0 0 0 25px;
                margin: 0;
                width: auto;
                height: auto;
                }
            }
         }
       .copyr{
           p{
               margin:0;
               a{
                   color:$gray-light;
               }
           }
       }
         }
         
 footer {.row{
          dl{@include float(left);
              dt{
                 font-size:$font-size-base;
                 font-weight: bold;
                 margin-bottom: 20px;
                 text-transform: uppercase;
                 color:$gray-darker;
                 word-wrap: break-word;
                }
              dd{
                  margin-bottom:6px;
                  color:$gray-dark;
                  a{
                      color:$gray-dark;
                  }
                  a.red{
                      color:$red;
                  }
                }
             dl.sns {
                display: block;
                margin: 0 0 17px;
                width: 100%;
                @include clearfix;
                 dd {
                    @include inline-block;
                    a {
                        background: url("../images/themes-new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                        display: block;
                        @include float(left);
                        height: 32px;
                        margin-right: 3px;
                        width: 32px;
                      }
                    }
				
				
                    .sns1 {
                                background-position: 0 -181px;
                                &:hover {
                                            background-position: 0 -217px;
                                        }
                           }
                     .sns2 {
                                background-position: -36px -181px;
                                 &:hover {
                                            background-position: -36px -217px;
                                        }
                            }
                     .sns3 {
                                background-position: -73px -181px;
                                 &:hover {
                                            background-position: -73px -217px;
                                        }
                            }
                     .sns4 {
                                background-position: -110px -181px;
                                 &:hover {
                                            background-position: -110px -217px;
                                        }
                            }
                      .sns5 {
                                background-position: -146px -181px;
                                 &:hover {
                                            background-position: -146px -217px;
                                        }
                            }
                       .sns6 {
                                background-position: -182px -181px;
                                 &:hover {
                                            background-position: -182px -217px;
                                        }
                            }
                       .sns7 {
                                background-position: -219px -181px;
                                 &:hover {
                                            background-position: -219px -217px;
                                        }
                            }
                        .sns8 {
                                background-position: -256px -181px;
                                 &:hover {
                                            background-position: -256px -217px;
                                        }
                            }
                        .sns9 {
                                background-position: -294px -181px;
                                 &:hover {
                                            background-position: -294px -217px;
                                        }
                            }
                           }
           
			
           }
           dl.xs-mobile{
               dl.letter{
                   .text{text-align:center;}
               }
                dl.sns {
                display: block;
                margin:30px 0 10px 0;
                width: 100%;
                @include clearfix;
                 dd {
                    @include inline-block;
                    a {
                        background: url("../images/themes-new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
                        display: block;
                        @include float(left);
                        height: 25px;
                        margin-right: 3px;
                        width: 25px;
                      }
                    }
                               
                    .sns1 {
                                background-position: 0 -111px;
                                &:hover {
                                            background-position: 0 -142px;
                                        }
                           }
                     .sns2 {
                                background-position: -30px -111px;
                                 &:hover {
                                            background-position: -30px -142px;
                                        }
                            }
                     .sns3 {
                                background-position: -60px -111px;
                                 &:hover {
                                            background-position: -60px -142px;
                                        }
                            }
                     .sns4 {
                                background-position: -90px -111px;
                                 &:hover {
                                            background-position: -90px -142px;
                                        }
                            }
                      .sns5 {
                                background-position: -120px -111px;
                                 &:hover {
                                            background-position: -120px -142px;
                                        }
                            }
                       .sns6 {
                                background-position: -150px -111px;
                                 &:hover {
                                            background-position: -150px -142px;
                                        }
                            }
                       .sns7 {
                                background-position: -180px -111px;
                                 &:hover {
                                            background-position: -180px -142px;
                                        }
                            }
                        .sns8 {
                                background-position: -210px -111px;
                                 &:hover {
                                            background-position: -210px -142px;
                                        }
                            }
                        .sns9 {
                                background-position: -240px -111px;
                                 &:hover {
                                            background-position: -240px -142px;
                                        }
                            }
                           }
           }
          }
          .letter {
                  width:100%;
                  label {
                        display: block;
                        font-size:$font-size-base;
                        margin: 0 0 10px;
                        color:$gray-darker;
                        }
                   div{
                       @include clearfix;
                       border:1px solid $border-color;
                   }
                   .text {
                        background-color: $white;
                        border: 0 none;
                        height: 32px;
                        line-height: 32px;
                        width: 70%;
						outline:none;
						padding: 0 5px;
						@include float(left);
						color:$gray;
                         }

                    .btn {
                        border-left: 1px solid $border-color;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: bold;
                        height: 32px;
                        line-height: 32px;
                        @extend %t-center;
                        text-transform: uppercase;
                        width: 30%;
						@include float(left);
                        padding:0;
                        }
                        @media (max-width: 991px) {
                          .text { width:50%}   
                          .btn { width:50%}
                        }
                   } 
               dl.object-insert {
                                margin-top: 15px;
                                dt {
                                        font-size: 14px;
                                        margin-bottom: 0;
                                    }
                            }
               
              .copyright {
                            font-size: 12px;
                            margin-top: 20px;
                            padding-bottom: 40px;
                            color:$gray-darker;
                            @extend %t-center;
                             a {
                                    color: $gray-dark;
                                }
                        }
                .card {
                            padding: 30px 0 0;
                            .paypal-card {
                                            font-size: 10px;
                                            padding: 5px 0;
                                            @extend %t-center;
                                        }
                      }
                .bottom {
                        background-color: $gray-base;
                        color: $gray-light;
                        padding: 5px 0;
                        @extend %t-center;
                    }
          }
		  
