.forgot-psd-form{
    p{
        margin:25px 0;
        font-size: $font-size-base;
    }
    li {   
        @include clearfix;
        margin-bottom: 25px;
        label {
            @include float(left);
            font-weight:normal;
            font-size:$font-size-base;
            padding:0;
            span{
                color:$red;
            }
        }
        div{
            @include clearfix;
        .text {
            background-color: $white;
            height: 24px;
            line-height: 24px;
            width: 260px;
        }
        }
        input.error {
            border: 1px solid $red;
        }
        label.error {
            color: $red;
            display: block;
            float: none;
            line-height: 16px;
            margin-top: 2px;
            text-align: left;
            width: auto;
        }
        @media screen and (max-width: 767px) {
             .text{
                 width:100% !important;
             }                                                
        }
        .btn-lg{
            text-transform:uppercase;
        }
    }
}
