.brand-list{
    p{
        margin:15px 0;
    }
    .brand-w{
        padding:15px 0;
        border:1px solid #eeeeee;
        overflow: hidden;
        p{
            float: left;
        }
        p.tit{   
            line-height: 35px;
            font-size:22px;
            text-transform: uppercase;
            font-family: Times New Roman,serif;
            font-weight:bold;
            width:43%;
            padding:0 5%;
            span{
                color:#d20286;
            }
        }
        p.con{
            font-size: 14px;
            border-left: 2px solid #eeeeee;
            width:57%;
            line-height: 24px;
            color:#666666;
            padding:0 5%;
        }
        @media (max-width:767px){
            p{
                float:none;
            }
            p.tit,p.con{
                width:100%;
            }
            p.con{
                border:none;
            }
        }
    }
    .brand-m h3{
        font-size: 24px;
        border-bottom:5px solid #000;
        line-height: 40px;
        margin-top: 50px;
        font-family: 'Times New Roman',Arial,sans-serif;
        span{
            font-size: 90px;
        }
       
    }
     @media(max-width:767px){
        .brand-m h3{
            font-size: 16px;
            border-bottom:2px solid #000;
            line-height: 30px;
            margin-top: 20px;
            font-family: 'Times New Roman',Arial,sans-serif;
            span{
                font-size: 32px;
            }
        }
    }
    ul{
        overflow: hidden;
        padding:0 15px;
        @media(max-width:767px){
            padding:0 10px;
        }
        border-bottom:1px solid #eeeeee;
        li.td1{
            width:10%;
            float: left;
            padding:20px 0;
            span.index{
                    color:#000;
                    font-size:32px;
                    @media(max-width:768px){
                        font-size: 28px;
                    }
                    font-weight: bold;
                    font-family: 'Times New Roman',Arial,sans-serif;
                }
        }
        li.td2{
            width:90%;
            float: left;
            padding:20px 0;
            ul{
                border-bottom:none;
            }
            li{
                width:16.66%;
                float:left; 
                text-transform:capitalize;
                padding:10px 0;
                @media(min-width:767px)and(max-width:768px){
                    width:25%;
                }
                @media(max-width:767px){
                    width:50%;
                }
                span{
                    color:#666666;
                    font-size:14px;
                    display: block;
                    line-height: 30px;
                     a{
                        color:#666666;
                    }
                }
                
            }
        }       
      
    }

}